h1, h2, h3, a, p {
    font-family: Arial, Helvetica, sans-serif, 돋움;
}

.js-hello {
    background-color: #171717;
    width: auto; /*만약 가로가 틀어지면 삭제*/
    font-size : 23px;
    color : whitesmoke;
    text-align: center;
    padding: 250px;
}

#navbar {  /*내비 스타일*/
    overflow : hidden;
    background-color : #F7F7F7;
    padding: 0px 5px;
    transition: 0.4s;
    position:fixed;
    width: 99%;
    top: 0;
    z-index: 99;
}

#navbar a { /*내비바 링크 스타일*/
    float:left;
    color:black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
}

#navbar a:hover { /*링크에 마우스 올려놓을때*/
    background-color: #C2C3C3;
    color:black;
}

#navbar a.active { /*링크 클릭 후*/
    background-color: #7DC3F6;
    color: white;
}

#navbar-right { /*내비바 오른쪽정렬*/
    float: right;
    left: 10px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}

#info {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #EDECEC;
    width: 100%;
}

#info-top {
    font-weight: bold;
    font-size : 40px;
    text-align: center;
    color: #F42242;
    /*text-decoration-line: underline;*/
    padding: 10px 0px;
}

#info-table { /*프로필, 학력 테이블*/
    margin: auto;
    margin-top: 70px;
    width: 80%;
    text-align: center;
}

#info-table h1 {
    font-size:  25px;
}

#info-table h2 {
    font-size: 20px;
}

#info-use { /*스킬*/
    /*clear: both;*/ /*float을 제거하기위해 쓴다*/
    margin-top: 70px;
    font-size: 15px;
    padding-top: 50px;
    text-align: center;
}

#info-character { /*성격 테이블*/
    margin: auto;
    margin-top: 120px;
    text-align: center;
    width: 100%;
}

#info-character h1{
    font-size: 25px;
}

#info-character h2{
    font-size: 18px;
}

#project {
    background-color: white;
    text-align: center;
    padding-bottom: 300px;
}

#project-top {
    font-weight: bold;
    font-size: 40px;
    color: #F42242;
    padding: 40px;
}

#project-info, #project-todo, #project-lotto { /*프로젝트 테이블*/
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#project-info h1, #project-todo h1, #project-lotto h1 {
    font-size: 30px;
}

#project-info a, #project-todo a, #project-lotto a {
    font-weight: bold;
    font-size: 15px;
}

#project-info h2, #project-todo h2, #project-lotto h2 {
    font-size: 20px;
}